.DS_Store
.vscode/
.venv/
.venv-pyocd/
toolchains/
linkserver/
third_party/pigweed/
extracted/master/evkmimxrt595_ezhb/bazel-*
*.zip
*.7z

# Generated outputs
**/build_manual/
**/Debug/
**/*.map
**/*.elf
**/*.axf
**/*.bin
**/*.hex
**/*.o
**/*.d

# Temporary logs
*.log
nohup.out